/* colors:
#D7A86E
#FFF8EA */

*{
    margin: 0;
}
body{
    color: #2d3036;
    margin: 0%;
    font-family: 'Poppins', sans-serif !important;
}
header{
    background: url(images/bg.jpg) center/cover no-repeat fixed;
}
#navbar{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}
.hamburger{
    display: none;
}
.nav-bar ul{
    display: flex;
    padding-top: 10px;
}
.nav-bar ul a{
    text-decoration: none;
    color: #2d3036;
    display: block;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}
.nav-bar ul a:hover{
    color: white;
    background: #D7A86E;
}
@media only screen and (max-width: 1100px){
    #navbar{
        padding: 0 30px;
    }
}
@media only screen and (max-width: 900px){
    .hamburger{
        display: block;
        cursor: pointer;
    }
    .hamburger .line{
        background: #2d3036;
        width: 30px;
        height: 3px;
        margin: 6px 0;
    }
    .nav-bar{
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100%;
        background: url(images/bg.jpg) center/cover no-repeat fixed;
        transition: 0.5s;
        overflow: hidden;
    }
    .nav-bar.active{
        height: 400px;
    }
    /* .nav-bar.hide{
        height: 0;
    } */
    .nav-bar ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .nav-bar.active ul{
        opacity: 1;
    }
    /* .nav-bar.hide ul{
        opacity: 0;
    } */
    .nav-bar ul a{
        margin-bottom: 12px;
    }
}






/* .navbar .container-fluid a{
    font-weight: bolder;
    padding: 0 50px;
    border-radius: 50px;
}
.navbar .container-fluid a:hover{
    color: white;
}
.navbar .navbar-nav a{
    font-weight: 500;
    color: #2d3036;
}
.navbar .navbar-nav a:hover{
    color: #D7A86E;
} */


#main{
    min-height: 100vh;
    padding-top: 40px;

}
#main .container .row{
    align-items: center;
    padding: 40px;
}
#main .container .col h1{
    font-size: 30px;
    font-weight: bolder;
    letter-spacing: 2px;
}
#main .container .col h2{
    font-size: 20px;
    font-weight: lighter;
    text-align: justify;
    letter-spacing: 1px;
}
#main .container .col .contact_me{
    margin-top: 10%;
    padding: 10px;
    background-color: white;
    border: 2px solid #D7A86E;
    border-radius: 8px;
    font-size: 15px;
    letter-spacing: 1px;
    transition:  0.2s ease-in;
}
#main .container .col .contact_me:hover{
    background-color: #D7A86E;
}

/* about me section */
#aboutme{
    margin: 5%;
}
#aboutme .container .row{
    align-items: center;
}

/* home section */
#home{
    /* margin: 5%; */
    background-color: #e5bc89;
}
#home #educ_bg h1{
    font-size: 30px;
}
#home #educ_bg .college h1{
    font-size: 28px;
}
#home .college h3{
    padding-top: 5px;
    font-size: 20px;
    font-weight: 350;
    padding-left: 15px;
}
#home #educ_bg .high_school h1{
    font-size: 28px;
}
#home .high_school h3{
    padding-top: 5px;
    font-size: 20px;
    font-weight: 350;
    padding-left: 15px;
}
#home #educ_bg .elementary h1{
    font-size: 28px;
}
#home .elementary h3{
    padding-top: 5px;
    font-size: 20px;
    font-weight: 350;
    padding-left: 15px;
}
#home #m_skills h1{
    font-size: 30px;
    text-align: center;
}
#home .skills h3{
    padding-top: 10px;
    font-size: 18px;
    font-weight: 350;
}

/* css for projects part in index.html */
/* .cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 60px 20px 0 20px;
}
.cont .heading{
    width: 40%;
    padding-bottom: 50px;
}
.cont .heading h3{
    font-size: 3em;
    font-weight: bolder;
    color: #333;
    padding-bottom: 10px;
} */
/* .cont .heading h3 span{
    font-weight: 100;
} */
/* .cont .box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cont .box .columns{
    display: flex;
    flex-direction: column;
    width: 32.5%;
}
.cont .box .columns img{
    width: 100%;
    padding: 15px;
    border-radius: 5px;
}
footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
    margin-top: 150px;
}
.social-links{
    display: flex;
    justify-content: center;
    margin-bottom: 1.4rem;
}
.social-links a{
    border: 2px solid #fff;
    color: #fff;
    display: block;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    margin: 0rem 0.3rem;
}

@media screen and (min-width: 600px){
    .navbar-nav a{
        padding-right: 1.2rem;
        padding-left: 1.2rem;
    }
    .banner-title{
        font-size: 5rem;
    }
    .banner form{
        margin-top: 1.4rem;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (min-width: 768px){
    .navbar .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
@media only screen and (max-width: 768px){
    .cont .box{
        flex-direction: column;
    }
    .cont .box .columns{
        width: 100%;
    }
}
@media only screen and (max-width: 600px){
    .cont .heading{
        width: 100%;
    }
    .cont .heading h3{
        font-size: 1em;
    }
} */


/* css for projects.html */
#projects{
    margin: 5%;
}
#projects{
    text-align: center;
}
#projects h1{
    font-weight: bolder;
    font-size: 2.5rem;
    letter-spacing: 1px;
}
#projects .proj1{
    margin-bottom: 50px;
}
#projects .proj1 img{
    padding: 10px;
}
#projects .proj1 h3{
    font-weight: bold;
}
#projects .proj1 p{
    padding-left: 10%;
    padding-right: 10%;
}
#projects .proj2{
    margin-bottom: 50px;
}
#projects .proj2 img{
    padding: 10px;
}
#projects .proj2 h3{
    font-weight: bold;
}
#projects .proj2 p{
    padding-left: 10%;
    padding-right: 10%;
}
#projects .proj3{
    margin-bottom: 50px;
}
#projects .proj3 img{
    padding: 10px;
}
#projects .proj3 h3{
    font-weight: bold;
}
#projects .proj3 p{
    padding-left: 10%;
    padding-right: 10%;
}
#projects .proj4{
    margin-bottom: 50px;
}
#projects .proj4 img{
    padding: 10px;
}
#projects .proj4 h3{
    font-weight: bold;
}
#projects .proj4 p{
    padding-left: 10%;
    padding-right: 10%;
}
#projects a{
    background-color: #D7A86E;
    color: white;
    width: 40%;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* css for contacts.html */
/* #contacts{
    display: flex;
    align-items: center;
    justify-content: center;
} */
.contact{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    background: #FFEBC1;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}
form h3{
    margin-bottom: 20px;
}
form input, form textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
}
form button{
    padding: 15px;
    background: #82AAE3;
    border: 0;
    outline: none;
    font-size: 18px;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}

/* #contacts{
    text-align: center;
    margin: 5%;
}
#contacts .address{
    padding: 20px;
}
#contacts .phone{
    padding: 20px;
}
#contacts .email{
    padding: 20px;
}
#contacts .socmed{
    padding: 20px;
}
#contacts .socmed a{
    text-decoration: none;
    color: #2d3036;
} */

/* css for footer */
#footer{
    background-color: #D7A86E;
    text-align: center;
    padding: 15px;
}
#footer h5{
    color: #2d3036;
    font-size: 20px;
    padding-top: 1.4rem;
}
#footer .social_icons{
    display: flex;
    justify-content: center;
    margin-bottom: 1.4rem;
    padding-top: 20px;
}
#footer .social_icons a{
    border: 2px solid #2d3036;
    color: #2d3036;
    display: block;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    margin: 0rem 0.3rem;
}
#footer .social_icons a:hover{
    color: white;
    border-color: white;
}
#footer h6{
    color: #2d3036;
}